footer.o-footer
  .container
    .row
      .col.s12.m2.l3
        p.o-footer__title Features
        ul
          li
            a(href="#!") Prioritize and surface
          li
            a(href="#!") Workflow and collaboration
          li
            a(href="#!") Reproduce and fix
          li
            a(href="#!") Improve quality over time
          li
            a(href="#!") Enterprise-ready
      .col.s12.m2.l3
        p.o-footer__title Company
        ul
          li
            a(href="#!") About us
          li
            a(href="#!") Careers
          li
            a(href="#!") Blog
          li
            a(href="#!") Open source
          li
            a(href="#!") Contact us
      .col.s12.m2.l2
        p.o-footer__title Plataforms
        ul
          li
            a(href="#!") Rails
          li
            a(href="#!") JavaScript
          li
            a(href="#!") PHP
          li
            a(href="#!") Laravel
      .col.s12.m2.l2
        p.o-footer__title
          br
        ul
          li
            a(href="#!") iOS
          li
            a(href="#!") Node.js
          li
            a(href="#!") Android
          li
            a(href="#!") Java
      .col.s12.m2.l2
        p.o-footer__title
          br
        ul
          li
            a(href="#!") Go
          li
            a(href="#!") .NET
          li
            a(href="#!") Django
          li
            a(href="#!") See all
  .o-footer__copy
    .container
      .row
        .col.s12.l6
          p Copyright 2016 Bugsnag inc.
        .col.s12.l6
          ul
            li
              a(href="#!")
                i.material-icons android
            li
              a(href="#!")
                i.material-icons beenhere
            li
              a(href="#!")
                i.material-icons favorite