link(rel="stylesheet", href="dist/css/app.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
link(rel="stylesheet", href="https://file.myfontastic.com/RXeAFkVg8qdsa34K6yG3c6/icons.css")