//.navbar-fixed
nav.o-menu
  .container
    .nav-wrapper
      a(href="#!").brand-logo Logo
      a(href="#" data-target="mobile-demo").sidenav-trigger
        i.material-icons menu
      ul.right.hide-on-med-and-down
        li.o-menu__item
          a(href="sass.html") Features
        li.o-menu__item
          a(href="badges.html") Plataforms
        li.o-menu__item
          a(href="collapsible.html") Pricing
        li.o-menu__item
          a(href="#!" data-target="mobile-demo")
            i.material-icons dehaze

  ul.sidenav#mobile-demo
    li
      a(href="sass.html") Features
    li
      a(href="badges.html") Plataforms
    li
      a(href="collapsible.html") Pricing
    li
      a(href="mobile.html") Mobile