#Capa_1{
  .st0{opacity:0.24;fill:#3D4046;}
  .st1{fill:#877D7C;}
  .st2{fill:#DECDCB;}
  .st3{fill:#C9BAB9;}
  .st4{fill:#F7EBE3;}
  .st5{fill:#FFFFFF;}
  .st6{fill:#80AFC5;}
  .st7{fill:none;stroke:#69605F;stroke-width:1.2252;stroke-miterlimit:10;}
  .st8{fill:none;stroke:#69605F;stroke-width:1.6021;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st9{opacity:0.11;}
  .st10{fill:#B5A4A2;}
  .st11{fill:#C2B0AD;}
  .st12{fill:none;stroke:#FFFFFF;stroke-width:0.5911;stroke-miterlimit:10;}
  .st13{fill:none;stroke:#A39B95;stroke-width:1.4137;stroke-miterlimit:10;}
  .st14{fill:#544D4D;}
  .st15{fill:#69605F;}
  .st16{opacity:0.24;}
  .st17{fill:#C4B4B3;}
  .st18{opacity:0.4;}
  .st19{fill:none;stroke:#7A706F;stroke-width:0.4712;stroke-miterlimit:10;}
  .st20{opacity:0.41;}
}#phone{
  transition:all .6s;
}

.u{
  &-text{
    &__color{
      &--purple{
        color: $complement__purple !important;
      }
      &--red{
        color: $complement__red !important;
      }
      &--orange{
        color: $complement__orange !important;
      }
      &--green{
        color: $complement__green !important;
      }
    }
  }
  &-padding{
    $arrows: tb lr;
    $sizes: small medium large xlarge;
    $sizes: (
        none:   0,
        small:  1rem,
        medium: 2rem,
        large:  3rem,
        xlarge: 4rem
      );
    @each $arrow in $arrows{
      &__#{$arrow}{
        @each $size, $value in $sizes{
          &--#{$size}{
            @if $arrow == 'tb' {
              padding-top: $value;  
              padding-bottom: $value;  
            }@else{
              padding-right: $value;  
              padding-left: $value;  
            }
          }
        }
          
      }
    }
      
  }
}