@font-face {
    font-family: 'lemon';
    src: url('../../source/fonts/lemon/lemonmilk-webfont.eot');
    src: url('../../source/fonts/lemon/lemonmilk-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../source/fonts/lemon/lemonmilk-webfont.woff2') format('woff2'),
         url('../../source/fonts/lemon/lemonmilk-webfont.woff') format('woff'),
         url('../../source/fonts/lemon/lemonmilk-webfont.ttf') format('truetype'),
         url('../../source/fonts/lemon/lemonmilk-webfont.svg#caviar_dreamsbold') format('svg');
    font-weight: normal;
    font-style: normal;

}