<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Document
    include blocks/head.pug
  body
    include blocks/menu.pug
    header.o-header.o-header--grey
      .container
        .row
          .col.s12.center-align
            h2.o-header__title Build better software
            p.o-header__description Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            a.o-header__button.waves-effect.waves-light.btn(href="#!") Try it for free

    main.u-padding__tb--mlarge
      .container.c-sectionAlternate
        .row
          .col.s12.m6
            h4 Identify your most harmful errors
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam similique ex omnis excepturi voluptas deserunt ea nihil fugiat veritatis sapiente hic inventore.
            a(href="#!") Learn More
          .col.s12.m6
            img(src="source/img/card.png", alt="").responsive-img
        .row
          .col.s12.m6
            h4 Identify your most harmful errors
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam similique ex omnis excepturi voluptas deserunt ea nihil fugiat veritatis sapiente hic inventore.
            a(href="#!") Learn More
          .col.s12.m6
            img(src="source/img/card.png", alt="").responsive-img
        .row
          .col.s12.m6
            h4 Identify your most harmful errors
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam similique ex omnis excepturi voluptas deserunt ea nihil fugiat veritatis sapiente hic inventore.
            a(href="#!") Learn More
          .col.s12.m6
            img(src="source/img/card.png", alt="").responsive-img
        .row
          .col.s12.m6
            h4 Identify your most harmful errors
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam similique ex omnis excepturi voluptas deserunt ea nihil fugiat veritatis sapiente hic inventore.
            a(href="#!") Learn More
          .col.s12.m6
            img(src="source/img/card.png", alt="").responsive-img

    section.u-padding__tb--mlarge
      .container
        .row
          .col.s12.m6
            .c-testimonial
              img(src="source/img/shopify.png", alt="").responsive-img.c-testimonial__logo
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt error labore dolorum voluptatum, doloremque omnis dolorem nemo porro beatae incidunt cumque maxime recusandae fugit. Non reprehenderit id hic temporibus ad.
              .c-testimonial__user
                img(src="http://materializecss.com/images/yuna.jpg", alt="").c-testimonial__face
                .c-testimonial__info
                  h6 Blake Mesdag
                  span Developer at Shopify
              a(href="#!").c-testimonial__story.c-mainCard__button READ STORY
          .col.s12.m6
            .c-testimonial
              img(src="source/img/xoom.png", alt="").responsive-img.c-testimonial__logo
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt error labore dolorum voluptatum, doloremque omnis dolorem nemo porro beatae incidunt cumque maxime recusandae fugit. Non reprehenderit id hic temporibus ad.
              .c-testimonial__user
                img(src="http://materializecss.com/images/yuna.jpg", alt="").c-testimonial__face
                .c-testimonial__info
                  h6 Blake Mesdag
                  span Developer at Shopify
              a(href="#!").c-testimonial__story.c-mainCard__button READ STORY




    include blocks/footer.pug
    include blocks/script.pug