<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="dist/css/app.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    include blocks/menu.pug
    header
      .container
        .row
          .col.s12.m6
            h2 Build better software
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            a(href="#!") Try it for free
          .col.s12.m6
            img(src="", alt="")
    main
      .container
        .row
          .col.s12
          each val in [1,2,3,4]
            .col.s12.m6.l3
              img(src="", alt="")
              p Prioritize your most harmful errors
              a(href="#!") Learn More


    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="source/js/materialize.min.js")
    script(src="source/js/main.js")