.o-menu{
  background: transparent;
  box-shadow: 0 0 0 0 transparent;

  &__item{
    & a:hover{
      background: transparent;
    }
  }
  &__logo{
    display: block;
    height: 3.5rem;
    margin-top: .5rem;
  }
}